<!-- app/templates/base.html -->

{% set current_path = request.path %}
<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Mon Portfolio{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>

        <header>
            <button class="menu-toggle" onclick="toggleMenu()">☰</button>
                <nav>
                <a href="/" class="{% if request.path == '/' %}active{% endif %} bold"><span class="house">⌂</span> Rouplou</a>
                <a href="/skills" class="{% if 'skills' in request.path %}active{% endif %}">Skills</a>
                <a href="/projects" class="{% if 'projects' in request.path %}active{% endif %}">Projects</a>
                <a href="/music" class="{% if 'music' in request.path %}active{% endif %}">Music</a>
                <a href="/contact" class="{% if 'contact' in request.path %}active{% endif %}">Contact</a>
                </nav>

        </header>

        <main>
            <div class="container">
                {% block content %}{% endblock %}
            </div>
        </main>

        <footer>
            <div class="social-links">
                <a href="https://x.com/Rouplouplou1" target="_blank" aria-label="X"><i class="fab fa-x-twitter"></i></a>
                <a href="https://youtube.com/@rouplou" target="_blank" aria-label="YouTube"><i class="fab fa-youtube"></i></a>
                <a href="https://github.com/Tom-Bini" target="_blank" aria-label="GitHub"><i class="fab fa-github"></i></a>
                <a href="https://instagram.com/rouplou/" target="_blank" aria-label="GitHub"><i class="fab fa-instagram"></i></a>
            </div>
            <p class="footer">© 2025 - Rouplou</p>
        </footer>
        <script>
            function toggleMenu() {
            document.querySelector('nav').classList.toggle('active');
            }
        </script>
    </body>
</html>
