<!-- app/templates/base.html -->
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Mon Portfolio{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>

    <header>
            <nav>
                <a href="/" class="rouplou"><span class="house">⌂</span> Rouplou</a>
                <a href="/skills" class="nav">Skills</a>
                <a href="/projects" class="nav">Projects</a>
                <a href="/music" class="nav">Music</a>
                <a href="/about" class="nav">About me</a>
                <a href="/contact" class="nav">Contact</a>
            </nav>
    </header>

    <main>
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </main>

    <footer>
        <p class="footer">&copy; 2025 - Rouplou</p>
    </footer>

</body>
</html>
