<!-- app/templates/base.html -->
<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Mon Portfolio{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    </head>
    <body>

        <header>
                <nav>
                    <a href="/" class="bold"><span class="house">⌂</span> Rouplou</a>
                    <a href="/skills" class="nav">Skills</a>
                    <a href="/projects" class="nav">Projects</a>
                    <a href="/music" class="nav">Music</a>
                    <a href="/contact" class="nav">Contact</a>
                </nav>
        </header>

        <main>
            <div class="container">
                {% block content %}{% endblock %}
            </div>
        </main>

        <footer>
            <div class="social-links">
                <a href="https://x.com/Rouplouplou1" target="_blank" aria-label="X"><i class="fab fa-x-twitter"></i></a>
                <a href="https://youtube.com/@rouplou" target="_blank" aria-label="YouTube"><i class="fab fa-youtube"></i></a>
                <a href="https://github.com/Tom-Bini" target="_blank" aria-label="GitHub"><i class="fab fa-github"></i></a>
            </div>
            <p class="footer">© 2025 - Rouplou</p>
        </footer>

    </body>
</html>
