<!-- app/templates/index.html -->
{% extends "base.html" %}

{% block title %}Rouplou's Portfolio{% endblock %}

{% block content %}

<h2 class="page-title">Rouplou</h2>
<h1>Introducing</h1>

<p>
    Hi! I'm Rouplou, a student in Engineering in Belgium passionate about building things, creating music, and exploring new ideas. I created this portfolio to gather all my different projects, so I don't forget them and they’re easier to find. Most of these projects started from curiosity, frustration, or just the desire to learn something new. Some are small, others more ambitious, but they all reflect a part of who I am.This website is both a playground and a logbook. Whether it's coding experiments, tools I needed, or ideas I wanted to explore, everything lives here.
</p>

<div class="portfolio_button_container">
    <a href="/projects" class="portfolio_button bold">
        My Projects
    </a>
</div>

<section class="mini-bio">
    <h1>Mini Biography</h1>
        <ul>
            <li><span class="date bold">2005</span> · Born in Belgium 🇧🇪</li>
            <li><span class="date bold">2015</span> · Started creating online content</li>
            <li><span class="date bold">2017</span> · First steps in development beyond Minecraft command blocks :3</li>
            <li><span class="date bold">2023</span> · Started engineering studies at <a href="https://www.uliege.be/" target="_blank" rel="noopener noreferrer" class="uliege">Uliège</a> 🇧🇪</li>
            <li><span class="date bold">2025</span> · Built this portfolio</li>
        </ul>
</section>


{% endblock %}