<!-- app/templates/index.html -->
{% extends "base.html" %}

{% block title %}Rouplou's Portfolio{% endblock %}

{% block content %}
<h1>Introducing</h1>

<p>
    Hi! I'm Rouplou, a student in Engineering in Belgium passionate about building things, creating music, and exploring new ideas. I created this portfolio to gather all my different projects, so I don't forget them and they’re easier to find.
</p>
<p>
    Most of these projects started from curiosity, frustration, or just the desire to learn something new. Some are small, others more ambitious, but they all reflect a part of who I am.
</p>
<p>
    This website is both a playground and a logbook. Whether it's coding experiments, tools I needed, or ideas I wanted to explore, everything lives here.
</p>

<div class="portfolio_button_container">
    <a href="/projects" class="portfolio_button">
        My Projects ⌂
    </a>
</div>


{% endblock %}