<!-- app/templates/skills.html -->
{% extends "base.html" %}

{% block title %}Skills{% endblock %}

{% block content %}
<section class="skills">
    <div class="skill-section">
        <h1>Development</h1>

        <div class="skill-group">
            <h3>✅ Proficient</h3>
            <ul>
                <li><i class="fab fa-html5"></i> HTML CSS</li>
                <li><i class="fab fa-python"></i> Python</li>
                <li><i class="fas fa-robot"></i> Selenium</li>
            </ul>
        </div>

        <div class="skill-group">
            <h3>🔄 Comfortable</h3>
            <ul>
                <li><i class="fa-solid fa-c"></i> C</li>
                <li><i class="fa-solid fa-flask"></i> Flask</li>
                <li><i class="fab fa-git-alt"></i> Git</li>
                <li><i class="fa-brands fa-java"></i> Java</li>
                <li><i class="fa-solid fa-database"></i> SQLite</li>
            </ul>
        </div>

        <div class="skill-group">
            <h3>🌱 Learning</h3>
            <ul>
                <li><i class="fa-brands fa-rust"></i> Rust</li>
                <li><i class="fa-brands fa-ethereum"></i> Solidity</li>
                <li><i class="fa-brands fa-js"></i> Javascript</li>
                <li><i class="fab fa-docker"></i> Docker</li>
            </ul>
        </div>

        <h1>Softwares</h1>

        <div class="skill-group">
            <h3>✅ Proficient</h3>
            <ul>
                <li><i class="fa-solid fa-film"></i> Davinci Resolve</li>
                <li><i class="fa-solid fa-film"></i> Premiere Pro</li>
                <li><i class="fas fa-headphones"></i> RekordBox</li>
                <li><i class="fa-solid fa-cube"></i> Fusion 360</li>
                <li><i class="fa-solid fa-cubes"></i> Cura</li>
            </ul>
        </div>

        <div class="skill-group">
            <h3>🔄 Comfortable</h3>
            <ul>
                <li><i class="fa-solid fa-music"></i> FL Studio</li>
            </ul>
        </div>

        <h1>Real-World Skills</h1>

        <div class="skill-group">
            <ul>
                <li><i class="fa-solid fa-computer"></i> Building Computers</li>
                <li><i class="fa-solid fa-cubes"></i> 3D Printing</li>
                <li><i class="fa-solid fa-screwdriver-wrench"></i> Handy with tools, from fixing ceilings to soldering circuits</li>
                <li><i class="fas fa-headphones"></i> DJing</li>
                <li><i class="fas fa-bicycle"></i> Unicycling</li>
                <li><i class="fa-solid fa-hourglass"></i> Juggling</li>
            </ul>
        </div>

        <h1>Life XP</h1>

        <div class="skill-group">
            <ul>
                <li><i class="fa-solid fa-medal"></i> Finalist in the Belgian Mathematical Olympiad</li>
                <li><i class="fa-solid fa-gamepad"></i> Won €250 in a Fortnite tournament</li>
                <li><i class="fa-solid fa-parachute-box"></i> Earned a Berachain airdrop through testnet farming</li>
            </ul>
        </div>
  </section>
{% endblock %}